<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
    <!-- public folder is set in node.js, therefore not needed in the href -->
    <script
      defer
      type="text/javascript"
      src="/public/js/javascript.js"
    ></script>
    <!-- public folder is set in node.js, therefore not needed in the href -->

    <title>Website Spieleentwicklung</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/private/member.html">
            <img
              src="/public/assets/imgs/gaming_logo.png"
              alt="Gaming logo von einem Gespenst mit roten Augen."
            />
          </a>
        </div>
        <div class="brand-title">Website Spieleentwicklung</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/private/member.html">Home</a></li>
            <li><a href="/private/views/contact.html">Kontakt</a></li>
            <li><a href="/public/index.html">Logout</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <style>
      .top h2 {
        margin-left: 20px;
        font-size: 20px;
      }
      .top p {
        margin-left: 20px;
      }
      .top-img-logo {
        display: flex;
        justify-content: center;
      }
      .top-img-logo img {
        width: 100%;
        height: 100%;
      }
    </style>

    <main class="main">
      <div class="outside-div">
        <section class="section-top">
          <div class="top">
            <h1><strong>Datenschutz</strong></h1>
            <h2>Info</h2>
            <p>
              Diese Diplomarbeit wird von Diplomand
              <strong>Paulo Ribeiro</strong> auf der TEKO Seite hcohgeladen.<br />
              <br />
              Verwenden Sie für die Anmeldung ausschliesslich nur Daten, die Sie
              nicht für andere Dienste verwenden (Google, E-Banking, Etc.)<br />
              Sollten irgendwelche E-Mails, Nutzernamen oder Passwörter geklaut
              werden, übernimmt der Diplomand
              <strong>Paulo Ribeiro</strong> keinerlei Haftung!
            </p>

            <p>
              Die MongoDB Datenbank ist ausreichend geschützt, über den Dateien
              auf Daten zu stossen ist unwahrscheinlich.
              <br />
              Zusätzlich werden die erstellten Passwörter verschlüsselt in der
              Datenbank gespeichert.
            </p>
            <br />
            <br />
            <br />
            <br />
            <h2>Haftungsausschluss</h2>
            <p>
              Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
              Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und
              Vollständigkeit der Informationen. Haftungsansprüche gegen den
              Autor wegen Schäden materieller oder immaterieller Art, welche aus
              dem Zugriff oder der Nutzung bzw. Nichtnutzung der
              veröffentlichten Informationen, durch Missbrauch der Verbindung
              oder durch technische Störungen entstanden sind, werden
              ausgeschlossen. Alle Angebote sind unverbindlich. Der Autor behält
              es sich ausdrücklich vor, Teile der Seiten oder das gesamte
              Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu
              löschen oder die Veröffentlichung zeitweise oder endgültig
              einzustellen.
            </p>

            <h2>Haftung für Links</h2>
            <p>
              Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
              Verantwortungsbereichs Es wird jegliche Verantwortung für solche
              Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten
              erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.
            </p>

            <h2>Urheberrechte</h2>
            <p>
              Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos
              oder anderen Dateien auf der Website gehören ausschliesslich der
              Firma Website Spieleentwicklung oder den speziell genannten
              Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die
              schriftliche Zustimmung der Urheberrechtsträger im Voraus
              einzuholen.
            </p>
            <br />
            <br />
            <br />
            <br />
            <div class="top-img-logo">
              <a href="/private/member.html"
                ><img
                  src="/public/assets/imgs/gaming_logo.png"
                  alt="Gaming logo von einem Gespenst mit roten Augen."
              /></a>
            </div>
          </div>
        </section>
      </div>
    </main>

    <section class="section-footer">
      <footer class="footer">
        <div class="footer-main">
          <ul class="footer-info">
            <span class="footer-contact-me-text">Kontaktiere mich</span>
            <li>
              <a href="mailto:n.rib.paulo@gmail.com">n.rib.paulo@gmail.com</a>
            </li>
            <br />
            <li>
              <span class="footer-info-span-bottom"
                ><a href="/private/views/contact.html">Kontaktformular</a></span
              >
            </li>
          </ul>
          <div class="footer-copyright">
            <span>&copy; Website Spieleentwicklung, Paulo Ribeiro 2022</span>
          </div>
          <div class="footer-privacy">
            <span
              ><a href="/private/views/datenschutz.html">Datenschutz</a></span
            >
          </div>
          <div class="footer-imprint">
            <span><a href="/private/views/impressum.html">Impressum</a></span>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
